/trunk/.project
/trunk/.settings/org.eclipse.core.resources.prefs
/trunk/.settings/org.eclipse.m2e.core.prefs
/trunk/write-it-once-cmd-tool/.classpath
/trunk/write-it-once-cmd-tool/.gitignore
/trunk/write-it-once-cmd-tool/.project
/trunk/write-it-once-cmd-tool/.settings/org.eclipse.core.resources.prefs
/trunk/write-it-once-cmd-tool/.settings/org.eclipse.jdt.core.prefs
/trunk/write-it-once-cmd-tool/.settings/org.eclipse.m2e.core.prefs
/trunk/write-it-once-core/.classpath
/trunk/write-it-once-core/.gitignore
/trunk/write-it-once-core/.project
/trunk/write-it-once-core/.settings/org.eclipse.core.resources.prefs
/trunk/write-it-once-core/.settings/org.eclipse.jdt.core.prefs
/trunk/write-it-once-core/.settings/org.eclipse.m2e.core.prefs
/trunk/write-it-once-core/src/generated/java/org/simart/writeonce/domain/AtestBuilder.java
/trunk/write-it-once-core/src/generated/java/org/simart/writeonce/domain/CtestBuilder.java
/trunk/write-it-once-core/src/generated/java/org/simart/writeonce/domain/DtestBuilder.java
/trunk/write-it-once-core/src/generated/resources/org/simart/writeonce/domain/AtestDescriptor.txt
/trunk/write-it-once-core/src/generated/resources/org/simart/writeonce/domain/BtestDescriptor.txt
/trunk/write-it-once-core/src/generated/resources/org/simart/writeonce/domain/CtestDescriptor.txt
/trunk/write-it-once-core/src/generated/resources/org/simart/writeonce/domain/DtestDescriptor.txt
/trunk/write-it-once-core/src/generated/resources/org/simart/writeonce/domain/EnumekDescriptor.txt
/trunk/write-it-once-plugin/.classpath
/trunk/write-it-once-plugin/.project
/trunk/write-it-once-plugin/.settings/org.eclipse.core.resources.prefs
/trunk/write-it-once-plugin/.settings/org.eclipse.jdt.core.prefs
/trunk/write-it-once-plugin/.settings/org.eclipse.m2e.core.prefs
