/.project
/.settings/org.eclipse.core.resources.prefs
/.settings/org.eclipse.m2e.core.prefs
/release.properties
/write-it-once-cmd-tool/.classpath
/write-it-once-cmd-tool/.project
/write-it-once-cmd-tool/.settings/org.eclipse.core.resources.prefs
/write-it-once-cmd-tool/.settings/org.eclipse.jdt.core.prefs
/write-it-once-cmd-tool/.settings/org.eclipse.m2e.core.prefs
/write-it-once-core/.classpath
/write-it-once-core/.project
/write-it-once-core/.settings/org.eclipse.core.resources.prefs
/write-it-once-core/.settings/org.eclipse.jdt.core.prefs
/write-it-once-core/.settings/org.eclipse.m2e.core.prefs
/write-it-once-plugin/.classpath
/write-it-once-plugin/.project
/write-it-once-plugin/.settings/org.eclipse.core.resources.prefs
/write-it-once-plugin/.settings/org.eclipse.jdt.core.prefs
/write-it-once-plugin/.settings/org.eclipse.m2e.core.prefs
/target
/.settings
test-output
.settings
/write-it-once-jpa/.classpath
/write-it-once-jpa/.gitignore
/write-it-once-jpa/.project
